<section class="card">
  <a href="/login/{{id}}">
  {{!-- Will need to make every user have different id. --}}
    <header>{{name}}</header>
    {{!-- Img will be replaced by basic profile card --}}
    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a>
</section>
